:root {
  --baby-blue: #0A2E4E;
  --light-blue: #BFD7EA;
  --green-600: oklch(62.7% 0.194 149.214);
  --yellow-500: oklch(79.5% 0.184 86.047);
  --red-600: oklch(57.7% 0.245 27.325);
  --coral: #FA7268;
}
